<!DOCTYPE html>
<html html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <div>
        <div>
            <header th:insert="fragments/header.html :: header" style="width: 100%"></header>
        </div>
    </div>

    <br>
    <div class="container mt-5" style  = "width: 227px; height: 138px; margin-left: auto; margin-right: auto;">

        <table class="table" th:if="${error}">
            <thead>
            <tr>
                <th style="color:red;">Error</th>
            </tr>
            </thead>
            <tbody th:each = "el : ${error}">
            <tr>
                <td style="color:red;" th:text="${el.getDefaultMessage()}"></td>
            </tr>
            </tbody>
        </table>
        <br>
        <br>
        <form th:method="POST" th:action="@{/registration}"  th:object="${user}">
            <label for="nickName">Enter login: </label>
            <input type="text"  th:field="*{nickName}" name="nickName" id="nickName" required/>
            <br>
            <br>
            <label for="password">Enter password: </label>
            <input type="password" min="8" max="12" th:field="*{password}" name="password" id="password" required/>
            <br>
            <br>
            <label for="userId">Enter user id: </label>
            <input type="number" th:field="*{userId}" name="userId" id="userId" required/>
            <br>
            <br>
            <label for="authority">Authority : </label>
            <select th:field="*{authority}" name="authority" id="authority">
                <option th:value="ROLE_USER" >Simple user</option>
                <option th:value="ROLE_ADMIN" >Hotel manager</option>
            </select>
            <br>
            <br>
            <input type="submit" value="Register" class="btn btn-success"/>

            <br>
            <br>
        </form>
    </div>

</body>
</html>