<!DOCTYPE html>
<html html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update hotel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>

    <div>
        <div>
            <header th:insert="fragments/header.html :: header" style="width: 100%"></header>
        </div>
    </div>

    <br>
    <div class="container mt-5" style  = "width: 227px; height: 138px; margin-left: auto; margin-right: auto;">
        <form th:method="POST" th:action="@{/admin/hotel/update}"  th:object="${hotel}">
            <input hidden type="number" th:field="*{id}" th:value="${hotel.getId}" name="name" id="id" required/>
            <label for="name">Enter hotel name: </label>
            <input type="text" th:field="*{name}" th:value="${hotel.getName}" name="name" id="name" required/>
            <br>
            <br>
            <label for="stars">Enter stars: </label>
            <input type="number" th:field="*{stars}" th:value="${hotel.getStars}" name="stars" id="stars" required/>
            <br>
            <br>
            <label for="availableRooms">Enter available rooms: </label>
            <input type="number" th:field="*{availableRooms}" th:value="${hotel.getAvailableRooms}" name="availableRooms" id="availableRooms" required/>
            <br>
            <br>
            <label for="workingStatus">Enter working status: </label>
            <select th:field="*{workingStatus}"  name="workingStatus" id="workingStatus">
                <option th:value="1" >true</option>
                <option th:value="0" >false</option>
            </select>
            <br>
            <br>
            <label for="dailyCost">Enter daily cost: </label>
            <input type="number" th:field="*{dailyCost}" th:value="${hotel.getDailyCost}" name="dailyCost" id="dailyCost" required/>
            <br>
            <br>
            <label for="cleaningTime">Enter cleaning time: </label>
            <input type="time" th:field="*{cleaningTime}" th:value="${hotel.getCleaningTime}" name="cleaningTime" id="cleaningTime" required/>
            <br>
            <br>
            <label for="coordinates">Enter coordinates: </label>
            <input type="text" th:field="*{coordinates}" th:value="${hotel.getCoordinates}" name="coordinates" id="coordinates" required/>
            <br>
            <br>
            <label for="hotelImageLink">Enter hotel image link: </label>
            <input type="text" th:field="*{hotelImageLink}" th:value="${hotel.getHotelImageLink}" name="hotelImageLink" id="hotelImageLink" required/>
            <br>
            <br>
            <label for="roomImageLink">Enter room image link: </label>
            <input type="text" th:field="*{roomImageLink}" th:value="${hotel.getRoomImageLink}" name="roomImageLink" id="roomImageLink" required/>
            <br>
            <br>
            <label for="description">Enter description: </label>
            <input type="text" th:field="*{description}" th:value="${hotel.getDescription}" name="description" id="description" required/>
            <br>
            <br>
            <input type="submit" value="Update" class="btn btn-success"/>
        </form>
    </div>

</body>
</html>